.about-us-landing{
    width: 60%;
    margin-left: 20%;
    height: 100vh;
}

img{
    width: 600px;
    height: auto;
}
.spacer3{
    height: 100px;
}
.profile-image{
    width: 100%;
    background-color: #13aef0;
    padding: 50px;
}