@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.banner{
    background-color: #2afaca;
    width: 100%;
    height: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banner h1{
    font-size: 12px;
    font-weight: 600;
    
}

nav{
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 150px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav ul li{
    list-style: none;
}

.spacer1{
    width: 100%;
    height: 200px;
}

.landing{
    margin: 20px;
    padding: 20px;
}

.landing h1{
    font-size: 98px;
}

.CTA{
     width: 100%;
     margin-top: 10px;

}

.CTA button{
    width: 320px;
    height: 50px;
    background-color: #17171c;
    color: white;
    border-width: 0;
    font-weight: 600;
    font-size: 12px;
    border-radius: 15px;
}
.CTA button:hover{
    background-color:#2afaca;
    color: #17171c;
}

.glitch{
    background-color: #13aef0;
    width: 100%;
    margin: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.glitch-header{
    margin: 20px;
    padding: 20px;
    font-size: 36px;
}

.g-image{
    width: 400px;
    height: auto;
}

.glitch-intro{
    padding: 20px;
}
