@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.spacer1{
    width: 100%;
    height: 200px;
}

.landing{
    margin: 20px;
    padding: 20px;
}

.landing h1{
    font-size: 98px;
}

.CTA{
     width: 100%;
     margin-top: 10px;

}

.CTA button{
    width: 320px;
    height: 50px;
    background-color: #17171c;
    color: white;
    border-width: 0;
    font-weight: 600;
    font-size: 12px;
    border-radius: 15px;
}
.CTA button:hover{
    background-color:#2afaca;
    color: #17171c;
}

.glitch{
    background-color: #13aef0;
    width: 100%;
    margin: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.glitch-header{
    margin: 20px;
    padding: 20px;
    font-size: 36px;
}

.g-image{
    width: 400px;
    height: auto;
}

.glitch-intro{
    width: 50%;
    padding: 20px;
    margin: 20px;
    /* text-align: justify; */
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    margin-left: 25%;
}

.spacer2{
    width: 100%;
    height: 100px;
}

.support{
    font-size: 12px;
    padding: 20px;
    margin: 20px;
}
.paypal{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer {
    text-align: center; /* Center-align the content within the footer */
}

.icons {
    display: flex;
    justify-content: center; /* Center the child elements horizontally */
    align-items: center; /* Center the child elements vertically */
}

.icons div {
    margin: 0 10px; /* Add spacing between the icons */
}
