.video-div{
    background-color: #13aef0;
    width: 100%;
    margin: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.video-div-header{
    margin: 20px;
    padding: 20px;
    font-size: 36px;
}
video{
    width: 1000px;
    height: auto;
}
.video-text{
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.vid-text{
    width: 680px;
    height: auto;
    text-align: justify;

}
