.video-div{
    background-color: #13aef0;
    width: 100%;
    margin: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.video-div-header{
    margin: 20px;
    padding: 20px;
    font-size: 36px;
}
video{
    width: 1000px;
    height: auto;
}
.video-text{
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.vid-text{
    height: auto;
    line-height: 70px;

}

.comment-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .comment-form input, .comment-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  .comment-form button {
    width: 320px;
    height: 50px;
    background-color: #17171c;
    color: white;
    border-width: 0;
    font-weight: 600;
    font-size: 12px;
    border-radius: 15px;
  }
  .comment-form button:hover {
    background-color:#2afaca;
    color: #17171c;
  }
  
